@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@600&family=Poppins:wght@500;600;700&display=swap');

.nav-logo{
    font-family: 'blinker';
    font-weight: 600;
    font-size: 26px;
}
.nav-sub-logo{
    font-family: 'poppins';
    font-size: 10px;
}
.nav-text {
    font-family: 'poppins';
}

.bg-banner {
    background: #007CC2;
}

.b-banner {
    background-color: #FFFFFF;
    color: #007CC2;
    padding: 0px;
    margin: 0;
    font-weight: bold;
    height: 30px;
    width: 80px;
    font-size: 16px;
    line-height: 25px;
    padding-left: 0px;
}

.top-icon-left {
    margin-left: 225px;
}

.top-icon-right {
    margin-right: 225px;
}

.bottom-icon-right {
    margin-right: 310px;
    /* margin-left: 500px; */
}

.bottom-icon-left {
    margin-left: 310px;

}

.d-margin {
    margin-left: 43px;
}

.logo-title {
    font-size: 12px;
}

.banner-title {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 42px;
    line-height: 68px;
}

.banner-subtitle {
    font-family: 'poppins';
    font-size: 20px;
    font-weight: 500;
}